*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.cardHighlight {
  min-height: 100%;
}

.font-logo{
	font-family: 'Cairo';
	font-style: normal;
	font-weight: 900;
	font-size: 24px;
	line-height: 24px;
	/* identical to box height, or 100% */
	color: #181717;
}

.nav-font{
	font-family: 'Cairo';
	font-style: normal;
	font-weight: 400;
	font-size: 15px;
	line-height: 37px;

	color: #0C0B0B;
}


.font-main-header{
	font-family: 'Cairo';
	font-style: normal;
	font-weight: 900;
	font-size: 60px;
	line-height: 96.54%;
	/* or 164px */

  	text-shadow: 1px 1px 0px #373737;
	color: #000000 !important;

}

.font-sub-header-line1{
	font-family: 'Cairo';
	font-style: normal;
	font-weight: 800;
	font-size: 40px;
	line-height: 96.54%;
	/* or 48px */

  text-shadow: 1px 1px 0px #ffffff;

	color: #000000 !important;

}

.font-sub-header-line2{
	font-family: 'Cairo';
	font-style: normal;
	font-weight: 400;
	font-size: 25px;
	line-height: 96.54%;
	/* or 29px */


  text-shadow: 1px 1px 0px #000000;
	color: #0C0B0B;
}


.font-button1{
	font-family: 'Cairo';
	font-style: normal;
	font-weight: 900;
	font-size: 15px;
	line-height: 37px;
	text-align: center;

	color: #616161;



}

.font-subtitle-prod{
	font-family: 'Cairo';
	font-style: normal;
	font-weight: 800;
	font-size: 20px;
	line-height: 96.54%;
	/* or 24px */

	text-transform: uppercase;
	color: #0C0B0B;
}

.font-subtitle{
	font-family: 'Cairo';
	font-style: normal;
	font-weight: 800;
	font-size: 20px;
	line-height: 96.54%;
	/* or 24px */

	text-transform: uppercase;
	padding-top: 1em;
	padding-bottom: 1em;
	color: #0C0B0B;
}

.font-text{
	font-family: 'Cairo';
	font-style: normal;
	font-weight: 700;
	font-size: 15px;
	line-height: 96.54%;
	/* or 24px */

	text-transform: uppercase;

	color: #0C0B0B;
}

.font-footer{

	font-family: 'Cairo';
	font-style: normal;
	font-weight: 400;
	font-size: 12px;
	line-height: 96.54%;
	color: #666666;
	text-decoration: none;

	
}

.font-deets{
	margin: 0.25em;
	font-family: 'Cairo';
	font-style: normal;
	font-weight: 400;
	font-size: 15px;
	line-height: 96.54%;
	
}

.forms{
  
    box-shadow: 2px 2px 100px rgba(0, 0, 0, 0.2);
  
}

.card:hover{
	transform: scale(1.1);
	cursor: pointer;
	transition: all 0.2s ease-in-out;
}

.container:hover > .card:not(:hover) .card-bg{
	filter: brightness(0.5);
}

.button:hover{
	transform: scale(1.1);
	cursor: pointer;
	transition: all 0.2s ease-in-out;
}